<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h4>Contacts</h4>
            </div>
            <div class="col-xs-6">
                <a [routerLink]="['new']" class="btn btn-success pull-right">New Contact</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12" 
            cdkDropList
            id="contactList"
            cdkDropListConnectedTo="groupList">
                <cms-contact-item *ngFor="let current_contact of contacts" [contact]="current_contact"
                    cdkDrag [cdkDragData]="current_contact"></cms-contact-item>
            </div>
        </div>
    </div>
  </div>
  